---
import getTranslations from '../../translations/translations.js';
import Header from '../../components/header/Header.astro';
import Hero from './hero/Hero.astro';
import Summary from './summary/Summary.astro';
import Statistics from './statistics/Statistics.astro';
import Events from './events/Events.astro';
import Gallery from './gallery/Gallery.astro';
import References from './references/References.astro';
import Footer from '../../components/footer/Footer.astro';

const {lang: lang } = Astro.props;
const translation = getTranslations(lang);

---
<style lang="scss">
  body {
    font-family: 'Inter', Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .contents {
    flex-grow: 1;
    display: flex;
    flex-direction: column;


    :global(section:first-child) {
      padding-top: var(--xx-spacing);
      padding-bottom: var(--xx-spacing);
    }
  }
  
  @media (max-width: 800px)  {
    body {
      margin-top: var(--xxx-spacing);
    }
  }

  article {
    height: 500px;
  }

</style>

<html lang={lang}>
  <head>
    <!-- Page Meta Data -->
    <title>{translation.pageTitle}</title>
    <meta name="description" content={translation.pageDescription}>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#FF9120">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- StyleSheets -->
    <link rel="stylesheet" type="text/css" href={Astro.resolve('../global.css')} />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
  </head>
  <body> 
    <Header translation={translation} />
    <Hero translation={translation} />
    <div class="contents">
      <Summary translation={translation} />
      <Statistics translation={translation} />
      <Events translation={translation} />
      <Gallery translation={translation} />
      <References translation={translation} />
    </div>
    <Footer translation={translation} />
  </body>
</html>