---
import getTranslations from '../../translations/translations.js';
import Header from '../../components/header/Header.astro';
import Hero from './hero/Hero.astro';
import Summary from './summary/Summary.astro';
import Statistics from './statistics/Statistics.astro';
import Events from './events/Events.astro';
import Footer from '../../components/footer/Footer.astro';

const {lang: lang } = Astro.props;
const translation = getTranslations(lang);

---
<style lang="scss">
  body {
    font-family: 'Inter', Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .contents {
    flex-grow: 1;
    display: flex;
    flex-direction: column;


    :global(section:first-child) {
      padding-top: var(--xx-spacing);
      padding-bottom: var(--xx-spacing);
    }
  }
  
  @media (max-width: 800px)  {
    body {
      margin-top: var(--xxx-spacing);
    }
  }

  article {
    height: 500px;
  }

</style>

<html lang={lang}>
  <head>
    <title>Project Kiara World Tour</title>
    <meta name="description" content="Project Kiara World Tour helping bring VTubers to conventions">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href={Astro.resolve('../global.css')} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
  </head>
  <body> 
    <Header translation={translation} />
    <Hero translation={translation} />
    <div class="contents">
      <Summary translation={translation} />
      <Statistics translation={translation} />
      <Events translation={translation} />
      
        <!-- <h2>{translation.whatareVtubersTitle}</h2>
        <Markdown content={translation.whatareVtubersContent}/> -->
      <!-- <article>
        <h2>{translation.conventionsTitle}</h2>
        <Markdown content={translation.conventionsContent}/>
      </article> -->
      <!-- <article>
        <h2>{translation.helpVtubersTitle}</h2>
        <Markdown content={translation.helpVtubersContent}/>
      </article> -->
    </div>
    <Footer translation={translation} />
  </body>
</html>