---
import SectionHeader from '../text/SectionHeader.astro';
import Blurb from '../text/Blurb.astro';
import BigLink from '../text/BigLink.astro';
import Section from '../section/Section.astro';
import kiaraLive from "./kiara-live.png";
import backdrop from './backdrop.png';

const { translation } = Astro.props;

---
<style lang="scss">
  .summary {
    background-image: url(./backdrop.png);
    background-size: 256px;
    background-color: var(--kiara-light-blue);

    :global(.wrapper) {
      display: flex;
      flex-wrap: wrap;
      row-gap: var(--xx-spacing);
      column-gap: var(--xx-spacing);
    }


    .description {
      position: relative;
      flex: 1 0 0;

      .links {
        display: inline-flex;
        flex-direction: column;
        row-gap: var(--l-spacing);
        align-items: flex-start;
      }

      &:before {
        
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(calc(-100% - var(--xxx-spacing)), 12px);
        width: 134px;
        height: 86px;
        background-image: url(./decoration.png);
        background-repeat: no-repeat;
        background-position: left;
    }
    }

    .image {
      --translationY: var(--l-spacing);
      --translationX: calc(-1 * var(--translationY));

      padding: 0 0 var(--translationY) var(--translationY);

      .wrapper {
        flex: 0 0 auto;
        max-width: 450px;
  
        border: 2px solid var(--kiara-blue);
        border-radius: var(--x-border-radius);
  
  
        img {
          width: 100%;
          height: 100%;
          border-radius: var(--x-border-radius);
          transform: translate(var(--translationX), var(--translationY));
          object-fit: cover;
        }
      }
    }


  }

</style>

<Section id="summary" class="summary">
  <div class="description">
    <SectionHeader>{translation.helpUsBringVtuber}</SectionHeader>
    <Blurb>{translation.helpUsBringVtuberDesc}</Blurb>
    <div class="links">
      <BigLink>{translation.findOutWhatsHappeningLink}</BigLink>
      <BigLink>{translation.contactConLink2}</BigLink>
    </div>
  </div>
  <div class="image">
    <div class="wrapper">
      <img src={kiaraLive} alt={translation.kairaLiveAlt} />
    </div>
  </div>
</Section>