---
import translations from './../translations/translations.js'
import { Markdown } from 'astro/components';
import Header from '../components/header/Header.astro'


const {lang: lang } = Astro.props;
const translation = translations[lang] || translations.en;

const response = await fetch('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
const font = await response.text()

---
<style>
  body {
    margin: 0;
  }

  article {
    height: 500px;
  }

</style>

<html lang={lang}>
  <head>
    <title>Project Kiara World Tour</title>
    <meta name="description" content="Project Kiara World Tour helping bring VTubers to conventions">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href={Astro.resolve('../global.css')} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
  </head>
  <body> 
    <Header translation={translation} />

    <h1>{translation.title}</h1>
    <article>
      <h2>{translation.whatsThisTitle}</h2>
      <Markdown content={translation.whatsThisContent}/>
    </article>
      <h2>{translation.whatareVtubersTitle}</h2>
      <Markdown content={translation.whatareVtubersContent}/>
    <article>
      <h2>{translation.conventionsTitle}</h2>
      <Markdown content={translation.conventionsContent}/>
    </article>
    <article>
      <h2>{translation.helpVtubersTitle}</h2>
      <Markdown content={translation.helpVtubersContent}/>
    </article>
  </body>
</html>