---
import en from "./../translations/en.json";
import { Markdown } from 'astro/components';
const item = en;
---
<html lang="en">
  <head>
    <title>{item.title}</title>
  </head>
  <body>
    <h1>{item.title}</h1>
    <article>
      <h2>{item.whatsThisTitle}</h2>
      <Markdown content={item.whatsThisContent}/>
    </article>
      <h2>{item.whatareVtubersTitle}</h2>
      <Markdown content={item.whatareVtubersContent}/>
    <article>
      <h2>{item.conventionsTitle}</h2>
      <Markdown content={item.conventionsContent}/>
    </article>
    <article>
      <h2>{item.helpVtubersTitle}</h2>
      <Markdown content={item.helpVtubersContent}/>
    </article>
  </body>
</html>